:root {
    --full-width: 430px;
    --full-height: 2000px;

    --dark-primary: #efb358;
    --dark-secondary: lightgray;

    --dark-text: lightgray;

    --white-primary: white;
    --white-text: black;

    --t5: rgb(255 255 255 / 5%);
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    background-color: #333;
    margin: 0;
}

.narrow_panel {
    max-width: var(--full-width);
    margin: 0 auto;
    overflow-x: hidden;
}

.narrow_panel::-webkit-scrollbar {
    display: none;
}

#main-image {
    border-radius: 0 0 0 530px;
    object-fit: cover;
    height: 1000px;
    width: var(--full-width);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.main-text {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 40px;
    letter-spacing: 5px;
}

.sub-title {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px
}

.sub-title .en {
    /*width: 100px;*/
    font-size: 10px;
    /*text-align: justify;*/
    /*text-align-last: justify;*/
    color: var(--dark-primary);
    padding-left: 3px
}

.sub-title .ko {
    /*width: 300px;*/
    font-size: 30px;
    /*letter-spacing: 15px;*/
    text-align: center;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    /*text-align: justify;*/
    /*text-align-last: justify;*/
    /*text-justify:inter-cluster;*/
}



section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-text {
    padding: 0 30px 0 30px;
    text-align: center;
    line-height: 40px;
}

/*section:nth-of-type(2n) {*/
/*    background-color: rgb(255 255 255 / 2%);*/
/*}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.signature {
    width: 100%;
    padding: 0;
    margin: 0;
}

.section-text .icon {
    width: 30px;
}

.section-text .icon:nth-of-type(2) {
    width: 15px;
    margin-top: -15px;
}

.footer {
    /*background-color: black;*/
    border-top: 4px dotted #464646;
    width: 100%;
    /*height: 300px;*/
    color: gray;
    font-size: 12px;
    text-align: right;
    padding-top:15px
}