:root {
    --primary: #e53935;
    --dark-primary: #11231BFF;
    --dark-text: lightgray;
    --full-width: 530px;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    background-color: #333;
    margin: 0;

    display: flex;
    flex-direction: column;

    letter-spacing: 5px;
    color: var(--dark-text)
}

.narrow {
    width: 100%;
    max-width: 530px;
    background-color: var(--dark-primary);
    height: 100%;
    /*margin: 0 auto;*/
    margin-left: 30%;
}

#main-image {
    border-radius: 0 0 0 530px;
    width: var(--full-width);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

#main-text {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 15px;
}

#something {
    padding: 50px 0px 50px 0px;
    text-align: center;
    font-size: 20px;;
}