:root {
    --full-width: 430px;
    --full-height: 2000px;

    --dark-primary: #c19f6c;
    --dark-secondary: lightgray;

    --white-primary: white;
    --white-text: black;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    background-color: #333;
    margin: 0;
}

#main {
    max-width: 530px;
    margin: 0 auto;

    height: var(--full-height);
}

.narrow_panel {
    position: absolute;
}

#dark-mode {
    background-image: url("../img/etc/back-dark.png");
    color: var(--dark-secondary);
    /*display: none;*/
}

#white-mode {
    /*background-color: var(--white-primary);*/
    background-image: url("../img/etc/back-white.png");
    color: var(--white-text);
    display: none;
}

#main-image {
    border-radius: 0 0 0 530px;
    object-fit: cover;
    height: 1000px;
    width: var(--full-width);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#dark-mode .main-text {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 40px;
    letter-spacing: 5px;
}

#white-mode .main-text {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 40px;
    letter-spacing: 5px;
}

#dark-mode .sub-title {
    font-size: 20px;
    color: var(--dark-secondary);
    border-bottom: 1px solid var(--dark-secondary);
    width: 150px;
    padding: 2px;
    margin: 0 auto 50px;
    text-align: justify;
    text-align-last: justify;
}

#white-mode .sub-title {
    font-size: 15px;
    color: var(--white-text);
    border-bottom: 1px solid var(--white-text);
    width: 150px;
    padding: 2px;
    margin: 0 auto 50px;
    text-align: justify;
    text-align-last: justify;
}

section {
    width: var(--full-width);
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-text {
    padding: 0 30px 0 30px;
    text-align: center;
    line-height: 40px;
}

section:nth-of-type(2n) {
    background-color: rgb(255 255 255 / 2%);
}