.duck {
    width: 30px;
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 2;
}

.fish {
    width: 30px;
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 2;
}

.heart {
    width: 20px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    display: none;
}